/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2017, 10:52:25 PM
    Author     : apadmash
*/

html,body {
   height:100%;
}


#container {
width: 100%;    
height: 100%;
}

#header {
	width: 30%;
        font-family: Raleway;        
        padding-top: 10px;
	padding-bottom: 5px;
        margin-left: 1.66%;
        font-size: 15px;
        border-bottom: 1px solid darkgrey;
        margin-bottom: 5px;
}

body {
   padding-top: 70px; /* Height of navbar */ 
   margin-bottom: -150px;   /* equal to footer height  */
}

#body:after {
    content: "";
  display: block;
}

img {
    width: 30%;
    height: 300px;
    float: left;
    margin: 1.66% 1.66% 1.66% 1.66%;
}

#footer, #body:after {
    height: 150px;  /* equal to footer height  */
}
#footer {
    margin: 0% 0% 1.66% 0%;
    width: 100%;    
    background: rgba(77,77,77,1);
    color: #fff;
    height: 150px;  /* footer height  */
    float: left;
    text-align: center;
}

.social-list_item {
    font-size: 1.1em;
    display: inline-block;
    background: #fff;
    height: 35px;
    width: 35px;
    line-height: 34px;
    border-radius: 100%;
    color: #000;
    /*text-align: left;*/
    opacity: .6;
    -webkit-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.social-list_item:hover {
    opacity: 1;
}

p {
    font-family: "Spectral+SC";
    font-size: 20px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar-default {
    background: rgba(121, 122, 123,0.2);
     
}

.navbar-default .navbar-brand {
    color: #dddddd;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    background: rgba(40, 40, 40,0.8);
}

.navbar-inverse .navbar-nav > li > a {
    color: #dddddd;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background: rgba(40, 40, 40,0.8);
}